<div id='signup'>
  <h1>signup</h1>
  <form name="signupForm" ng-submit='signup()' novalidate>
    <input name='username' type='text' ng-model='user.username' ng-minlength="3" ng-maxlength="10" required>
    <input name='password' type="password" ng-model='user.password' ng-minlength="3" ng-maxlength="10" required>
    <button ng-disabled="signupForm.$invalid">signup</button>
  </form>
  <div ng-show="signupForm.username.$invalid">Invalid username.</div>
  <div ng-show="signupForm.password.$invalid">Invalid password.</div>
  <div>{{ error }}</div>
  <a href="#/signin">Already have an account? Signin ...</a>
</div>
