<div id='signin'>
  <h1>sigin</h1>
  <form name="signinForm" ng-submit='signin()' novalidate>
    <input name="username" type='text' ng-model='user.username' ng-minlength="3" ng-maxlength="10" required>
    <input name="password" type="password" ng-model='user.password' ng-minlength="3" ng-maxlength="10" required>
    <button ng-disabled="signinForm.$invalid">signin</button>
    <div ng-show="signinForm.username.$invalid">Invalid username.</div>
    <div ng-show="signinForm.password.$invalid">Invalid password.</div>
    <div>{{ error }}</div>
  </form>
  <a href="#/signup">Don't have an account? Signup ...</a>
</div>
